.gallery-item img {
    width: 140px;
    height: 90px;
}
.starsWidget
{
    color: #fba500;
    display: inline-block;
}

.alpe li:hover {
    background-color: #31A3DD !important;
    border: none;
}

.alpe li:hover a {
    color:#ffffff;
    font-weight: bold;
}

.alpe> .active {
    background-color: #31A3DD !important;
    border: none;
    color:#ffffff;
}
.alpe> .active a {
    color:#ffffff;
    font-weight: bold;
}

/** images in left menu */
/**.nav-stacked li .al {
    background: url("flags/1x1/al.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    top: -5px;
}*/

.nav-stacked li .flag {
    background-size: 30px 30px !important;
    background-repeat: no-repeat !important;
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    top: -5px;
}